
  .debug.max_1 {
    display:block;
}
  
.home_item {
  /* background-color: #FF8800; /* orange */
height: 33vh; height: 33lvh; 
width: calc(29%);
margin: 2%;
}
.home_container {
    left: 2vw;
width: 96vw;
}
  
  .home_item.dernieres {
    position: absolute;
    top: 120vh; top: 120lvh;
  }
  .home_item {
    /* background-color: #DDD; /* gray */
			/* height: calc(50% - 60px) */
	width: 45% ;
  }